.nav{
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    
}

.reload {
    font-family: 'Poppins', sans-serif;
    max-width: 120px;
    margin-left: 2%;
    margin-top: 1%;
    padding: 10px 40px;
    font-size: 18px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0,.8,.26,.99);
    
   }

   .reload:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0,.8,.26,.99);
    z-index: -1;
    background-color: #008542!important;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
   }
   
   .reload:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0,.8,.26,.99);
   }
   
   .reload:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
   }
   
   .reload:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
   }
   
   .reload:active {
    transform: translateY(4px);
   }
   
  .reload:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
   }

   .reload> img{
    margin-right: 4px;
   }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}